    <header><h1>Profile</h1></header>
    <div class="container_profile_page">
      <ul class="container_profile">
        <li>
          <img
            src="https://randomuser.me/api/portraits/men/1.jpg"
            alt="Profilbild"
          />
        </li>
        <li><h2>Julius von Bonin</h2></li>
      </ul>
      <div class="container_about">
        <h3>About me</h3>
        <div class="container_about_inhalt">
          <ul>
            <li>Lord of the Rings - Nerd</li>
            <li>Scifi - Freak</li>
            <li>
              Huston, please be advised: Rich Purnell is a steely-eyed missile
              man
            </li>
          </ul>
        </div>
      </div>
      <ul class="ul_profile_question_overwiew">
        <li><i class="ph-fill ph-seal-question">12</i></li>
        <li><i class="ph-fill ph-bookmark">4</i></li>
      </ul>
      <div class="Container_settings">
        <h3>Settings</h3>
        <ul>
          <li class="container_toggle">
            Dark Mode
            <label class="switch">
              <input type="checkbox" data-js="toggle_darkMode" />
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <footer>
      <ul>
        <li>
          <a aria-label="home" href="#/quiz"><i class="ph ph-house"></i></a>
        </li>
        <li>
          <a aria-label="Bookmarks" href="#/bookmarks"
            ><i class="ph ph-bookmark"></i
          ></a>
        </li>
        <li>
          <a aria-label="New Questions" href="#/newQuestions"
            ><i class="ph ph-plus-circle"></i
          ></a>
        </li>
        <li>
          <a aria-label="profile"
            ><i class="ph-fill ph-user"></i
          ></a>
        </li>
      </ul>
    </footer>