    <header><h1>Quiz App</h1></header>
    <div class="container" id="container_app" data-js="container_app">
      <div id="q1" class="container_quiz">
        <button
          data-js="btn_bookmark_quiz"
          class="ph-fill ph-bookmark"
        ></button>
        <div class="container_question">
          <h3 class="question">
            Wie viele Mitglieder hatte die Gefährten-Gruppe am Anfang?
          </h3>
        </div>
        <div class="container_answer">
          <div class="answer hidden">Neun</div>
          <button class="btn_show-answer" data-js="btn_show_answer">
            Show Answer
          </button>
        </div>
        <div class="container_tags">
          <ul>
            <li><p class="tag" id="tag_1">#Buch</p></li>
            <li><p class="tag" id="tag_2">#Film</p></li>
          </ul>
        </div>
      </div>

      <div id="q2" class="container_quiz">
        <button
          data-js="btn_bookmark_quiz"
          class="ph-fill ph-bookmark"
        ></button>
        <div class="container_question">
          <h3 class="question">
            Welche Figur war ursprünglich für Galadriels Rolle im Film
            vorgesehen?
          </h3>
        </div>
        <div class="container_answer">
          <div class="answer">Uma Thurman</div>
          <button class="btn_show-answer" data-js="btn_show_answer">
            Hide Answer
          </button>
        </div>
        <div class="container_tags">
          <ul>
            <li><p class="tag" id="tag_1">#Film</p></li>
            <li><p class="tag" id="tag_2">#Casting</p></li>
          </ul>
        </div>
      </div>

      <div id="q1" class="container_quiz">
        <button
          data-js="btn_bookmark_quiz"
          class="ph-fill ph-bookmark"
        ></button>
        <div class="container_question">
          <h3 class="question">Wie hieß Gollum, bevor er den Ring fand?</h3>
        </div>
        <div class="container_answer">
          <div class="answer hidden">Sméagol</div>
          <button class="btn_show-answer" data-js="btn_show_answer">
            Show Answer
          </button>
        </div>
        <div class="container_tags">
          <ul>
            <li><p class="tag" id="tag_1">#Buch</p></li>
            <li><p class="tag" id="tag_2">#Film</p></li>
            <li><p class="tag" id="tag_3">#Lore</p></li>
          </ul>
        </div>
      </div>
      <div id="q1" class="container_quiz">
        <button data-js="btn_bookmark_quiz" class="ph ph-bookmark"></button>
        <div class="container_question">
          <h3 class="question">Wer zerstört den Einen Ring letztendlich?</h3>
        </div>
        <div class="container_answer">
          <div class="answer">Gollum</div>
          <button class="btn_show-answer" data-js="btn_show_answer">
            Hide Answer
          </button>
        </div>
        <div class="container_tags">
          <ul>
            <li><p class="tag" id="tag_1">#Buch</p></li>
            <li><p class="tag" id="tag_2">#Film</p></li>
          </ul>
        </div>
      </div>
      <div id="q1" class="container_quiz">
        <button data-js="btn_bookmark_quiz" class="ph ph-bookmark"></button>
        <div class="container_question">
          <h3 class="question">Was bedeutet „Mithril“?</h3>
        </div>
        <div class="container_answer">
          <div class="answer">Wahres Silber</div>
          <button class="btn_show-answer" data-js="btn_show_answer">
            Hide Answer
          </button>
        </div>
        <div class="container_tags">
          <ul>
            <li><p class="tag" id="tag_1">#Buch</p></li>
            <li><p class="tag" id="tag_2">#Lore</p></li>
          </ul>
        </div>
      </div>
      <div id="q1" class="container_quiz">
        <button data-js="btn_bookmark_quiz" class="ph ph-bookmark"></button>
        <div class="container_question">
          <h3 class="question">
            Wer hat den Sound des Nazgûl-Schreis gemacht?
          </h3>
        </div>
        <div class="container_answer">
          <div class="answer">Fran Walsh, die Frau von Peter Jackson</div>
          <button class="btn_show-answer" data-js="btn_show_answer">
            Hide Answer
          </button>
        </div>
        <div class="container_tags">
          <ul>
            <li><p class="tag" id="tag_1">#Film</p></li>
            <li><p class="tag" id="tag_2">#Fun Fact</p></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <ul>
        <li>
          <a aria-label="home" class="btn_footer"
            ><i class="ph-fill ph-house"></i
          ></a>
        </li>
        <li>
          <a aria-label="Bookmarks" href="#/bookmarks"
            ><i class="ph ph-bookmark"></i
          ></a>
        </li>
        <li>
          <a aria-label="New Questions" href="#/newQuestions"
            ><i class="ph ph-plus-circle"></i
          ></a>
        </li>
        <li>
          <a aria-label="Profile" href="#/profile"
            ><i class="ph ph-user"></i
          ></a>
        </li>
      </ul>
    </footer>